@use '../App/var';

.panel {
    background-color: black;
    color: var.$titlecolor;
    width: 90%;
    padding: 2rem;
    margin: 1rem auto;

    // transform:
    //     perspective(750px) translate3d(0px, 0px, -150px) rotateX(25deg) ;
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    // transition: 0.4s ease-in-out transform;

    // &:hover {
    //     transform: translate3d(0px, 0px, -250px);
    // }
};