<article class="block grid5">
    <h3 class="block__title">AEW International Champion</h3>
    <div class="card">
        <% for (const wrestler of wrestlers) { if (wrestler.championship==="AEW International" ) { %>
            <h3 class="card__title" >
                <%= wrestler.name %>
            </h3>
            <p class="card__link"><a href="/roster/<%= wrestler.slug %>">Voir la fiche complète</a></p>
            <% } } %>
    </div>
</article>