<article class="block grid2">
    <h3 class="block__title">AEW Women's World Champion</h3>
    <div class="card">
        <% for (const wrestler of wrestlers) { if (wrestler.championship==="AEW Women's World") { %>
            <h3 class="card__title">
                <%= wrestler.name %>
            </h3>
            <p class="card__link"><a href="/roster/<%= wrestler.slug %>">Voir la fiche complète</a></p>
            <% } } %>
    </div>
</article>