<body>
    <div class="page">
        <header class="header">
            <h1 class="header__title"><a href="/">All Elite Wrestling</a></h1>
            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__item"><a href="/roster">Roster complet</a></li>
                    <li class="nav__item"><a href="/shows">Liste des shows</a></li>
                    <li class="nav__item"><a href="/admin">Admin</a></li>
                </ul>
            </nav>
        </header>